.container {
    
    background-color: peachpuff;
    border-radius: 10px;
    text-align: center;
    padding: 10mm;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1, h3{
    text-align: center;
}

.button {
    margin-top: 10px;
}