.container {
    background-color: peachpuff;
    border-radius: 10px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}

.button {
    margin-top: 10px;
}

.form-input {
    margin: 5px;
}